.chart {
    flex: 2;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: var(--mb-10);
    color: var(--title-color);

    .title {
        margin-bottom: var(--mb-20);
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
    }

    .chart-grid {
        stroke: rgb(228, 225, 225);
    }
}