.widget {
	display: flex;
	justify-content: space-between;
	flex: 1;
	padding: var(--mb-10);
	-webkit-box-shadow: var(--box-shadow);
	box-shadow: var(--box-shadow);
	border-radius: 5px;
	height: 7.5rem;

	.left,
	.right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.title {
			font-weight: var(--font-bold);
			font-size: var(--small-font-size);
			color: var(--title-color);
		}

		.counter {
			font-size: var(--h1-font-size);
			font-weight: var(--font-light);
		}

		.link {
			width: max-content;
			font-size: var(--smallest-font-size);
			border-bottom: 1px solid gray;
		}

		.percentage {
			display: flex;
			align-items: center;
			font-size: var(--small-font-size);

			&.positive {
				color: green;
			}

			&.negative {
				color: red;
			}
		}

		.icon {
			font-size: var(--big-font-size);
			align-self: flex-end;
			border-radius: 5px;
			padding: var(--mb-05);

			&.user-icon__widget {
				color: crimson;
				background-color: rgba(255, 0, 0, 0.2);
			}

			&.order-icon__widget {
				color: goldenrod;
				background-color: rgba(218, 165, 32, 0.2);
			}

			&.earning-icon__widget {
				color: green;
				background-color: rgba(0, 128, 0, 0.2);
			}

			&.balance-icon__widget {
				color: purple;
				background-color: rgba(128, 0, 128, 0.2);
			}
		}
	}
}