.single {
    .top {
        display: flex;
        padding: var(--mb-20);
        gap: 1.25rem;
    }

    .bottom {
        padding: var(--mb-20);
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        margin: var(--mb-10) var(--mb-20);
    }

    .title {
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--title-color);
        margin-bottom: var(--mb-10);
    }
}